* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  font-family: "Karla", sans-serif;
}

.background {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: -1;
}
header {
  height: 10rem;
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.logo-img {
  padding: 0.5rem;
  height: 100%;
  display: flex;
}
.logo-img img {
  height: 100%;
}
ul {
  display: flex;
  gap: 1em;
  align-items: baseline;
  font-size: bold;
}
ul button {
  height: 45px;
  width: 120px;
  border-radius: 10px;
  border: none;
  background-color: #e74543;
  font-size: bold;
  cursor: pointer;
}

form input[name="username"],
input[name="password"],
input[name="submit"] {
  height: 30px;
  width: 45%;
  padding: 3px;
  border-radius: 10px;
  color: black;
  box-sizing: border-box;
  border: none transparent;
  outline: none;
}
input[name="submit"]{
    width: 100%;
}
input[name="submit"]:hover {
  opacity: 0.75;
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
  width: 240px;
  gap: 0.5rem;
}
.box {
  display: flex;
  justify-content: space-between;
}
.box1 {
    display: flex;
    justify-content: center;
}
