* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-weight: 600;
}

body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  font-family: "Karla", sans-serif;
}

.background {
  background-image: url("../img/sushi1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
}
header {
  height: 10rem;
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  align-items: center;
}
.logo-img {
  padding: 0.5rem;
  height: 150px;
}
.logo-img img {
  height: 100%;
}
ul {
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: bold;
  margin-right: 2.5vw;
}
.login {
  position: absolute;
  right: 2.5vw;
}
.user-svg {
  height: 50px;
  fill: white;
}
ul button {
  height: 45px;
  width: 120px;
  border-radius: 10px;
  border: none;
  background-color: #e74543;
  font-size: bold;
  cursor: pointer;
}

.box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-text h1 {
  font-size: 4em;
}
.box-text h2 {
  font-size: 1em;
}

.box-form-login-register {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.box-form-login {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 0.5rem;
  align-items: center;
}
form input[name="username"],
input[name="password"],
input[name="email"],
input[name="submit"] {
  height: 30px;
  width: 100%;
  padding: 3px;
  border-radius: 10px;
  color: black;
  box-sizing: border-box;
  border: none transparent;
  outline: none;
  transition: 0.5s ease-in-out;
}
input[name="submit"]:hover {
  background-color: #e74543;
  cursor: pointer;
  color: white;
}
.box-checkbox {
  display: flex;
  gap: 1rem;
  align-items: center;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #e74543;
}
.register {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register input[name="register"] {
  height: 30px;
  width: 100%;
  padding: 3px;
  border-radius: 10px;
  color: black;
  box-sizing: border-box;
  border: none transparent;
  outline: none;
  transition: 0.3s ease-in-out;
}
input[name="register"]:hover {
  background-color: #e74543;
  cursor: pointer;
  color: white;
}

footer {
  justify-self: flex-end;
  background-color: grey;
  height: 150px;
  width: 100vw;
}
