* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-weight: 600;
}

body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  font-family: "Karla", sans-serif;
  /* filter: blur(5px); */
}

.background {
  background-image: url("../img/sushi1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
}
header {
  height: 10rem;
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.logo-img {
  padding: 0.5rem;
  height: 150px;
  position: absolute;
  left: 0;
}
.logo-img img {
  height: 100%;
}
ul {
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: bold;
  justify-self: center;
}
ul button {
  height: 45px;
  width: 120px;
  border-radius: 10px;
  border: none;
  background-color: #e74543;
  font-size: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
ul button:hover{
  transform: scale(1.1);
}

ul a {
  transition: 0.3s ease-in-out;
}
ul a:hover {
  color: #e74543;
}
.box-login {
  position: absolute;
  right: 2.5vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.user-svg {
  height: 50px;
  fill: white;
  transition: 0.3s ease-in-out;
}
.user-svg:hover {
  fill: #e74543;
}

.box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.box-text h1 {
  font-size: 4em;
}
.box-text h2 {
  font-size: 1em;
}

.discounts {
  height: 80vh;
  width: 100%;
  background-color: #e74543;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-box-discounts {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1.5rem;
  gap: 0.3rem;
}
.text-box-discounts h1 {
  font-size: 2.5rem;
}
.text-discounts {
  font-size: 1rem;
  position: absolute;
  right: 2.5vw;
  margin-top: 3rem;
}
.blackbox {
  width: 85%;
  height: 82.5%;
  background-color: black;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.items {
  width: 30%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items > * {
  color: black;
}
.items .img {
  height: 40%;
}
.items img {
  height: 100%;
}

footer {
  justify-self: flex-end;
  background-color: grey;
  height: 150px;
  width: 100vw;
}
