* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-weight: 600;
}

body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  font-family: "Karla", sans-serif;
  /* filter: blur(5px); */
}

.background {
  background-image: url("../img/sushi1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
}
header {
  height: 10rem;
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.logo-img {
  padding: 0.5rem;
  height: 150px;
  position: absolute;
  left: 0;
}
.logo-img img {
  height: 100%;
}
ul {
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: bold;
  justify-self: center;
}
ul button {
  height: 45px;
  width: 120px;
  border-radius: 10px;
  border: none;
  background-color: #e74543;
  font-size: bold;
  cursor: pointer;
}
.login {
  position: absolute;
  right: 2.5vw;
}

.box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-text h1 {
  font-size: 4em;
}
.box-text h2 {
  font-size: 1em;
}

footer {
  justify-self: flex-end;
  background-color: grey;
  height: 150px;
  width: 100vw;
}
